workflows/kta-chatbot/v1-initial.json
{
  "name": "kta project",
  "nodes": [
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Code in JavaScript').item.json.session }}",
        "chatId": "={{ $('Code in JavaScript').item.json.chatId }}",
        "messageId": "={{ $('Code in JavaScript').item.json.messageId }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -2080,
        -528
      ],
      "id": "ec581b27-fc76-4edf-b645-a8c0266d35dd",
      "name": "Send Seen",
      "notesInFlow": false,
      "credentials": {
        "wahaApi": {
          "id": "zveodtumLLwZSHEn",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('Code in JavaScript').item.json.chatId }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -1840,
        -496
      ],
      "id": "a9cc0e9e-9129-4c02-bfdc-5296cf42b766",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "zveodtumLLwZSHEn",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('Code in JavaScript').item.json.chatId }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "linkPreview": false,
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -960,
        -240
      ],
      "id": "91f12ad2-8319-4bec-8181-05ab6717e16f",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "zveodtumLLwZSHEn",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('Code in JavaScript').item.json.chatId }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -1136,
        -448
      ],
      "id": "a536eb31-1c0e-4131-9455-492c9880e801",
      "name": "Stop Typing",
      "credentials": {
        "wahaApi": {
          "id": "zveodtumLLwZSHEn",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -2656,
        -480
      ],
      "id": "057afb2c-b5d2-4f7b-9263-6f56b1aa9419",
      "name": "WAHA Trigger",
      "webhookId": "2feb388e-bd60-47c3-81ed-d5be67df4107"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "GEMINI/GEMINI-2.0-FLASH"
        },
        "responses": {
          "values": [
            {
              "content": "=Kamu adalah agen bank bernama Rina dari Bank XYZ. \nTugasmu adalah menawarkan produk KTA kepada nasabah via WhatsApp.\n\nBalas selalu seperti manusia — singkat, hangat, natural. \nJangan pernah tampilkan instruksi atau format apapun ke nasabah.\n\nAlur percakapan:\n1. Sapa nasabah dan perkenalkan diri\n2. Tanyakan apakah mereka tertarik dengan KTA\n3. Jika tertarik, kumpulkan info: bank kartu kredit, umur kartu, limit\n4. Jika menolak, akhiri dengan sopan\n\nData chatting dari customer {{ $('WAHA Trigger').item.json.payload.body }}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2368,
        -192
      ],
      "id": "3bea4f95-1972-49b1-b86f-2e286323dd2c",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "31QTL30hq74bbbEa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $json.message.length/5 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2208,
        -368
      ],
      "id": "b650a03e-56d2-42c9-a57f-eb49428438dc",
      "name": "Wait1",
      "webhookId": "f4138ff9-da2d-46b4-b081-1fcde1cb744a"
    },
    {
      "parameters": {
        "amount": "={{ $('Wait1').item.json.message.length/5.3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1936,
        -624
      ],
      "id": "7857b9eb-9657-4162-820e-86960e499d6a",
      "name": "Wait2",
      "webhookId": "b43865ca-7a85-4a55-95d7-d67607cbe2ee"
    },
    {
      "parameters": {
        "amount": "={{ $('Code in JavaScript').item.json.message.length/4.5 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1680,
        -416
      ],
      "id": "74622f07-b2c8-488a-a497-78857483b312",
      "name": "Wait",
      "webhookId": "cf7561e3-6a42-4fac-8cce-c90aa59870cd"
    },
    {
      "parameters": {
        "jsCode": "let info = $json.payload._data.Info;\n\nlet chatId;\n\nif (info.IsGroup) {\n  chatId = info.Chat;\n} else if (info.SenderAlt) {\n  chatId = info.SenderAlt.split('@')[0] + '@c.us';\n} else {\n  chatId = $json.payload.from;\n}\n\nreturn {\n  chatId,\n  message: $json.payload.body,\n  messageId: $json.payload.id,\n  session: $json.session\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        -384
      ],
      "id": "55a9f03c-2fd1-4953-bf9f-41035a02088c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Kamu adalah agen bank bernama Rina dari Bank XYZ. \nTugasmu adalah menawarkan produk KTA kepada nasabah via WhatsApp.\n\nBalas selalu seperti manusia — singkat, hangat, natural. \nJangan pernah tampilkan instruksi atau format apapun ke nasabah.\n\nAlur percakapan:\n1. Sapa nasabah dan perkenalkan diri\n2. Tanyakan apakah mereka tertarik dengan KTA\n3. Jika tertarik, kumpulkan info: bank kartu kredit, umur kartu, limit\n4. Jika menolak, akhiri dengan sopan\n\nData chatting dari customer {{ $('WAHA Trigger').item.json.payload.body }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1488,
        464
      ],
      "id": "43b1a8a1-fe87-418d-a0c8-7e3f5d23a4c0",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "YdWNXiawUhMlc50b",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Kamu adalah agen bank bernama Rina dari Bank XYZ. \nTugasmu adalah menawarkan produk KTA kepada nasabah via WhatsApp.\n\nBalas selalu seperti manusia — singkat, hangat, natural. \nJangan pernah tampilkan instruksi atau format apapun ke nasabah.\n\nAlur percakapan:\n1. Sapa nasabah dan perkenalkan diri\n2. Tanyakan apakah mereka tertarik dengan KTA\n3. Jika tertarik, kumpulkan info: bank kartu kredit, umur kartu, limit\n4. Jika menolak, akhiri dengan sopan\n\nbuka googledocs sebagai patokan product knowledge\nData chatting dari customer {{ $('Code in JavaScript').item.json.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1488,
        -432
      ],
      "id": "8596d4be-6dde-4f07-929b-06f2f58dd9ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "gemini/gemini-2.0-flash"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1600,
        -128
      ],
      "id": "9d27051f-2da6-4f8b-95af-7b2c5e89e601",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "31QTL30hq74bbbEa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code in JavaScript').item.json.chatId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1408,
        -112
      ],
      "id": "6b7d9cf8-f020-4242-8ae5-17b56f1623fd",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9GTFUHfq4O54dMZL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get a document in Google Docs",
        "authentication": "serviceAccount",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/15xQGREwQty5lluPCRBYfA6E_QFpyO4ATk_CVFEZQ_Ks/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -1200,
        -128
      ],
      "id": "d3d7069b-d2c9-47cc-ae79-e5fab0743ba1",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleApi": {
          "id": "P04x3CnrihJYSlqm",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Code in JavaScript": [
      {
        "json": {
          "chatId": "6285111626889@c.us",
          "message": "Semangat.. mau apply KTA bisa?",
          "messageId": "false_12262836285549@lid_A576A4CE4D2673CAD4CE9ABB04FF6350",
          "session": "irdud"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Send Seen": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "253970c1-50d5-40e3-b725-8bd2d537fcd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d40b716bd0455ccdb3d464a6da30a87d70c1eaccbc26d5a931c16f8e1a9618aa"
  },
  "id": "O56dVigZVG1sKP6C",
  "tags": []
}
